body{
    background-color: darkslategrey;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}
body h1{
    font-size: 16px;
}
#content{
    border: 2px solid #ffffff;
    border-radius: 5px;
    width: 580px;
    height: 120px;

}
#text{
 margin: 5px;
 font-weight: normal;
}
